<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,
initial-scale=1.0">
<title>test</title>
</head>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: gray;
        }
        .box{
            width: 300px;
            padding: 40px;
            position: absolute;
            background: #ff0000;
        }
    </style>
<body><h1>
    <div id="content",name="content">
    {%block content%}

    {%endblock%}
    </div>
    </h1>
</body>
</html>